@import "tailwindcss";

/* globals.css */
*, *::before, *::after {
  box-sizing: border-box;
}

/* globals.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* globals.css */
html, body, #__next {
  height: 100%;
}
